<!--
    Author: Thomas Smith
    Section: 002
    Description: confirmation page
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Confirmation page</title>
</head>
<body>
    Your drink was successfully <%= drinkOps  %> 
    <form action="/" method="get">
        <button type="submit">Home</button>
    </form>
    <form action="/postgres" method="get">
        <button type="submit">Display Drinks</button>
    </form>


</body>
</html>