<!--
    Author: Thomas Smith
    Section: 002
    Description: landing page for final web app
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Landing Page</title>
</head>
<body>
        <img style="height: 100px; text-align: center;" src="https://images.pexels.com/photos/3250638/pexels-photo-3250638.jpeg?a
        uto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="eagle">
        <form action="displayDrinks" method="get">
            <button type="submit">Display Drinks</button>
        </form>
        <br><br>
        <form action="/addDrink" method="get">
            <button type="submit">Add Drink</button>
        </form>
        <form action="/sortRanking" method="get">
            <button type="submit">Sort By Ranking</button>
        </form>
        <form action="/sortDesc" method="get">
            <button type="submit">Sort By Description </button>
        </form>
</body>
</html>
